<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
    <% include ../partials/nav %>
    <%- messages('message', locals) %>
    <% include ../partials/login-options %>
    <% include ../partials/scripts %>
    <% include ../partials/footer %>
</body>
</html>