<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
    <% include ../partials/nav %>
    <% include ../partials/login-options %>
    <% include ../partials/scripts %>
    <br />
    <hr />
    Copyright © 2018
</body>
</html>