<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-info">
        <div class="container px-0">
            <font class="display-1"></font>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link lead text-light" href="/">Home</a>
                    <a class="nav-item nav-link lead text-light" href="/add">Add</a>
                    <a class="nav-item nav-link lead text-light" href="/request">Request</a>
                    <a class="nav-item nav-link lead text-light" href="/contribute">Contribute</a>
                    <% if (!user) { %>
                    <a class="nav-item nav-link lead text-light" href="/auth/login">Login </a>
                    <% } else { %>
                    <a class="nav-item nav-link lead text-light" href="/profile">Profile</a>
                    <a class="nav-item nav-link lead text-light" href="/auth/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
   
</header>
