<header>
        <div class="container">
            <div><a class="logo" href="/">
              <font size="15">HowCanISay...</font></a>
            </div>
            <nav>
                <ul>
                     <li><a href="/">Search</a></li>
                    <li><a href="/add">Add</a></li>
                    <li><a href="/request">Request</a></li>
                    <li><a href="/earn">Contribute</a></li>
                    <li>Vote</li>
                    <li>Data</li>
                </ul>
            </nav>
            <br>
        </div>
</header>
